SCHEMA = "uint64 projectsContributed, uint64 roundsContributed, uint64 chainIdsContributed, uint128 totalUSDAmount, uint64 timestamp, string metadataCid"
REPORT_GAS=true

# Deployer private key
DEPLOYER_PRIVATE_KEY=

INFURA_RPC_ID=
ALCHEMY_RPC_ID=
# Testnet RPC URL
SEPOLIA_RPC_URL=https://rpc.sepolia.dev
# Mainnet RPC URL
MAINNET_RPC_URL=https://rpc.ankr.com/eth
OPGOERLI_RPC_URL=https://optimism-goerli.gateway.tenderly.co	

# Contract Verification
ETHERSCAN_API_KEY=
OPTIMISTIC_ETHERSCAN_API_KEY=
CELOSCAN_API_KEY=
BASESCAN_API_KEY=
POLYGONSCAN_API_KEY=
ARBITRUMSCAN_API_KEY=

# Gas report
COINMARKETCAP_API_KEY=
